.response_card{
	border-style: solid;
    border-radius: 10px;
    padding: 15px;
    font-size: large;
    margin: 10px;
    max-width: 250px;
    min-height: 370px;
    justify-content: center;
}

.response_cont{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.gifs{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.gif{
    padding: 10px;
    justify-content: center;
}

.photos{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.photo{
    padding: 10px;
    justify-content: center;
}
.mainer{
    width: 80%;
    text-align: center;
    position: absolute;
    left: 10%;
    right: 10%;
    background-color: #d4d4d4;
}

.bodier{
    background-color: #dcdcdc;
}

@media screen  and (max-width:550px){
    .gifs{
        display: none;
    }
}

@media screen  and (max-width:900px){
    .photos{
        display: none;
    }
}